mat-card {
    margin: 16px;
    padding: 16px;
}

mat-card-title {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}

.custom-tooltip {
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}